<%= render partial: 'shared/navbar' %>
<div class="portfolio-container">
    <div class="portfolio-table">
        <div class="header-container">
            <h1 class="header__text">Your Portfolio</h1>

            <h3 class="header__text balance">Balance: <%= number_to_currency(@user.balance, precision:2) %></h1>
        </div>
           <% if @stocks.size > 0 %>
            <table class="table">
            <thead>
                <tr >
                <th scope="col">Stock</th>
                <th scope="col">Change</th>
                <th scope="col">Quantity</th>
                <th scope="col">Price</th>
                <th scope="col">Total Cost </th>
                </tr>
            </thead>
            <tbody>
            <%= @stock_data.each do |symbol, stock_data|%>
            <!-- stock_data: [quantity, price, change, total_price] -->
                <tr>
                 <td><%= symbol %></td> 
                <td ><%= stock_data[2] %></td>
                <td ><%stock_data[0]%></td>
                <td ><%stock_data[1]%></td>
                <td ><%stock_data[3]%></td>
                </tr>
            <% end %>
            </tbody>
            </table>
        <% else %>
            <p>No stocks yet</p>
        <% end %>
    </div>

    <div class="stock-form">
        <h3>Buy Stocks</h3>
    <form>
        <div class="form-group">
            <label for="exampleInputEmail1">Ticker Symbol</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" >
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Quantity</label>
            <input type="text" class="form-control" id="exampleInputPassword1" >
        </div>
    <button type="submit" class="btn-stock">Submit</button>
    </form>
</div>

